* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: darkviolet;
}

ul{
    background-color: blanchedalmond;
    width: 35%;
    border-radius: 10px;
    margin: 0px 10px 10px 5px;
    padding: 18px 40px;
}

#video_movingout {
    width: 560px;
    height: 315px;
}